.userContainer{
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.userCard{
    margin: 30px 50px 30px 0px;
    a{
        text-decoration: none;
    }
}

.userCardConteiner{
    display: flex;
    flex-direction: row;
}

.userContent{
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    h2{
        color: #000;
        margin: 0 auto;
    }
}

.userFavsContent{
    padding: 80px 0px 0px 50px;
    display: flex;
    flex-direction: column;
}

.userFavsImg{
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    h2{
        color: #000;
        margin: 0 auto;
    }
}

.userFavsText{
    padding: 30px 0px 0px 0px;
    font-family: 'Roboto';
    color: #ccc;
}

.userFavsContentPerfil{
    h2{
        color: #000;
        padding-bottom: 30px;
    }
    a{
        text-decoration: none;
        color: #fff;
        background-color: #E4B721;
        border-radius: 5px;
        padding: 5px 10px;
        float: left;
    }
}


#userSearch {
    margin: 0 auto;
    margin-bottom: 50px;
    input{
        border-radius: 5px 0px 0px 5px;
    }
}